.favourites {
    cursor: pointer;
    width: 21px;
    height: 21px;
}

.cart {
    cursor: pointer;
    width: 18px;
    height: 17px;
    margin-right: 30px;
}

.userIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
}